.button-primary {
  min-width: fit-content;
  color: var(--Branco-Branco, #fff);
  text-align: center;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  background: #ff0007;
  border: none;
  padding: 10px;
  margin: 5px;
  transition: 0.3s;
  text-decoration: none;
}
.button-primary:hover {
  background: #f7464b;
  color: var(--Branco-Branco, #fff);
  cursor: pointer;
  transform: scale(1.01);
  transition: 0.3s;
}
.button-primary-v2:hover {
  background: #f7464b;
  color: var(--Branco-Branco, #fff);
  cursor: pointer;
  transform: scale(1.01);
  transition: 0.3s;
}
.button-secondary {
  min-width: fit-content;
  color: var(--Branco-Branco, #fff);
  text-align: center;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  background: #000000;
  border: none;
  padding: 10px;
  margin: 10px;
  transition: 0.3s;
  text-decoration: none;
}
.button-secondary:hover {
  background: #161616;
  color: var(--Branco-Branco, #fff);
  cursor: pointer;
  transform: scale(1.01);
  transition: 0.3s;
}
.button-step {
  transition: 0.3s;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #ffff;
  border-radius: 5px;
  cursor: pointer;
}
.button-step img {
  width: 75%;
}
.button-primary-v2 {
  max-width: fit-content;
  min-width: 100px;
  color: var(--Branco-Branco, #fff);
  text-align: center;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  background: #ff0007;
  border: none;
  padding: 10px;
  margin: 5px;
  transition: 0.3s;
  text-decoration: none;
}
.button-secondary-v2 {
  max-width: fit-content;
  width: 100px;
  min-width: 100%;
  color: var(--Branco-Branco, #fff);
  text-align: center;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  background: #000000;
  border: none;
  padding: 10px;
  margin: 5px;
  transition: 0.3s;
  text-decoration: none;
}
.button-secondary-v2:hover {
  background: #161616;
  color: var(--Branco-Branco, #fff);
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}
