.modal-default{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.modal-box-default{
    background-color: white;
    width: 50%;
    height: 50%;
}