@import url(../../assets/css/style.css);

.tag-dash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}	

.selection-tag-box {
    width: 27rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.title-selection-tag {
    font-size: 2rem;
    font-weight: 700;
}

.tag-btn-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-modal-selection-tag {
    font-size: 3rem;
    font-weight: bold;
}

.btn-dash-tag {
    width: 5vw;
    height: 4vh;
    display: flex;   
    align-items: center;
    justify-content: center;
    background-color: var(--preto);
    border: var(--borda);
    border-radius: var(--arredondamento);
    padding: .5rem;
    cursor: pointer;
}

.btn-dash-tag span {
    color: var(--branco);
    font-size: 1.1rem;
}

.tag-dash-itens {
    width: 27rem;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    border: var(--borda);
    border-radius: var(--arredondamento);
    padding: .7rem;
    gap: .5rem;
}

.tag-modal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}

.tag-modal-selected, .tag-modal-available {
    width: 24vw;
    height: 38vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-modal-tag {
    font-size: 2rem;
    font-weight: 600;
}

.tag-dash-itens-container-selected, .tag-dash-itens-container-available {
    width: 25vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    overflow-y: auto;
}

.button-modal-container-tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.no-content {
    height: 5vh;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.tag-dash-item {
    width: 10vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--borda);
    border-radius: var(--arredondamento);
    padding: .3rem;
}

.tag-dash-item:hover {
    cursor: pointer;
    background-color: var(--cinza);
}

.tag-dash-item span {
    font-size: 1.7rem;
    word-break: break-all;
}

.tag-dash-item-selected {
    border: 0.2rem solid var(--primary);
}

.tag-dash-itens-container-preview {
    width: 17vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

.tag-preview-box {
    width: 35vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    overflow-y: auto;
}

.tag-dash-item-preview {
    width: 7vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--borda);
    border-radius: var(--arredondamento);
    padding: 1rem;
    transition: all 0.3s;
    /* animation: fadeIn 2s alternate-reverse infinite; */
}

.tag-dash-item-preview:hover {
    width: 8.5vw;
    cursor: pointer;
    background-color: var(--cinza);
    transition: all 0.3s;
}

.tag-dash-item-preview span {
    font-size: 1.5rem;
    word-break: break-all;
}

@keyframes fadeIn {
    from {
        width: 7vw;
        border: 0.1rem solid var(--primary);
    }
    to {
        width: 6vw;
        border: 0.1rem solid var(--preto);
    }
}