@import url("../../assets/css/style.css");

header {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 400;
  background-color: var(--branco);
  position: relative;
  z-index: 100;
}

header h1 {
  font-size: 1.91169rem;
  font-weight: 700;
  cursor: pointer;
}

.container-header {
  width: 88%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  transition: all 0.3s;
}

.container-switch-header {
  width: 94.2%;
  transition: all 0.3s;
}

header div div.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.logoHover {
  cursor: pointer;
}

.establishment-title-user-profile {
  font-size: 2rem;
  font-weight: 700;
}

.header-geral-token {
  width: 12vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-geral-token span{
  font-size: 1.5 rem;
  font-weight: 700;
}

.header-geral-token img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 10rem;
}

.left img {
  width: 5rem;
  height: 5rem;
}

header div img {
  width: 3.53106rem;
  height: 3.7145rem;
}

header nav ul {
  width: 20vw;
  height: 5vh;
  justify-content: space-around;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0.5rem;
}

header nav ul li {
  display: flex;
  cursor: pointer;
  transition: all 0.3s;
}

.linkItem {
  text-decoration: none;
  color: var(--preto);
}

header nav ul li:hover {
  border-bottom: 1px solid var(--primary);
  transition: all 0.3s;
}
/* 
header nav ul li:hover {
    width: 6vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--borda);
    border-radius: var(--arredondamento);
    transition: all .3s;
} */

header nav ul li.active {
  background-color: var(--primary);
  color: var(--branco);
  border: var(--borda);
  border-radius: var(--arredondamento);
  padding: 0.048rem;
}
