@import url('../../assets/css/style.css');

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 400;
    background-color: var(--branco);
}

header h1 {
    font-size: 1.91169rem;
    font-weight: 700;
}

header div.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 0.5rem;
}

header div div.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

header div img {
    width: 3.53106rem;
    height: 3.7145rem;
}

.select-location {
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 0.3rem 0.3rem 0.3rem 0.8rem;
    border-radius: var(--arredondamento);
    /* border: var(--borda); */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../../assets/img/vector.svg') 90% 50% no-repeat;
    /* border: none; */
    cursor: pointer;
}

.select-location span {
    user-select: none;
}

.options-location {
    display: flex;
    height: 14vh;
    flex-direction: column;
    position: absolute;
    width: 10rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 1rem;
    top: 0%;
    transition: all 0.3s;
    overflow-y: scroll;
}

.options-location::-webkit-scrollbar {
    width: 0.5rem;
}

.options-location::-webkit-scrollbar-thumb {
    background: var(--branco);
    border-radius: var(--arredondamento);
}

.options-location::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border-radius: var(--arredondamento);
}

.options-location div {
    padding: 0.5rem;
    margin: 0.2rem;
    color: var(--branco);
    transition: all 0.3s;
}

.options-location div:hover {
    background-color: var(--branco);
    border-radius: var(--arredondamento);
    color: var(--preto);
    transition: all 0.3s;
}

.animation-in {
    top: 5rem;
    transition: all 0.3 s;
}

.animation-out {
    top: -150%;
    width: 0px;
    height: 0px;
    transition: all 1s;
}

.hide {
    display: none;
}

.show {
    display: block;
}

header nav ul {
    width: 20vw;
    justify-content: space-around;
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

header nav ul li {
    display: flex;
    cursor: pointer;
}

header nav ul li:last-child {
    font-weight: 700;
}

header nav ul li.active {
    background-color: var(--primary);
    color: var(--branco);
    border: var(--borda);
    border-radius: var(--arredondamento);
    padding: 0.048rem;
}