@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #ed0000;
  --preto: #222222;
  --cinzaEscuro: #aaaaaa;
  --cinzaClaro: #d9d9d9;
  --cinza: #f6f6f6;
  --brancoGelo: #f2f2f2;
  --branco: #ffffff;
  --borda: 0.05rem solid rgba(0, 0, 0, 0.25);
  --arredondamento: 0.4rem;
  --defaultFonte: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-family: var(--defaultFonte);
}

html {
  background-color: yellow;
  min-height: 100vh;
}
