@import url("../../assets/css/style.css");
.mainSignin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: var(--cinza);
}
.mainSiginContainer {
  width: 80%;

  display: flex;
}

.cardCostumerEstablishment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
