@import url('../../assets/css/style.css');

.search-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--borda);
    border-radius: var(--arredondamento);
    padding: 2rem;
    gap: 2rem;
    background-color: var(--branco);
    width: 20vw;
    height: 40vh;
    box-shadow: var(--sombra);
    margin-top: 2.5vw;
}

.search-details-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.search-detail-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.left-header-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.left-header-side img {
    width: 5vw;
}

.middle-header-side {
    display: flex;
    flex-direction: column;
}

.rate-detail-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.user-rate-number {
    font-size: 1rem;
    font-weight: 600;
}

.right-header-side {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.search-detail-body {
    width: 17vw;
    height: 5vh;
}

.search-detail-body span{
    font-size: 1.5rem;
    font-weight: 500;
}