@import url(../../assets/css/style.css);

.sentiment-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: var(--arredondamento);
    height: 5vh;
    width: 20vh;
    box-shadow: var(--sombra);
    gap: 1rem;
}

.sentiment-tag span.sentiment-label {
    font-size: 1.5rem;
    color: var(--preto);
}

.sentiment-tag img {
    /* width: 2.4vw; */
    height: 2.4vh;
}

.positive {
    background-color: #98FB98;
}

.neutral {
    background-color: #ffd70080;
}

.negative {
    background-color: #ff6b6b59;;
}