@import url('../../assets/css/style.css');
@import url('../../../node_modules/pretty-checkbox/dist/pretty-checkbox.min.css');

.menu-item label {
    user-select: none;
    padding-left: 1rem;
}

.boxCopyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-active {
    color: var(--primary);
}

.check {
    background-color: var(--primary);
    color: white;
}