@import url(../../assets/css/style.css);

.user-banner {
    width: 100vw;
    height: 28vh;
    object-fit: cover;
}

.profile-container {
    width: calc(122vw - 15vw);
    transition: all 0.3s;
}

.profile-container-switch {
    width: calc(105vw + 15vw);
    transition: all 0.3s;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
}

.user-info-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
}

.user-info-box {
    width: 55vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8rem;
}

.user-info-left {
    width: 25rem;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo {
    width: 25rem;
    height: 25rem;
    background-color: var(--brancoGelo);
    border-radius: 20rem;
    position: absolute;
    top: 18rem;
    border: 0.5rem solid var(--cinza);
    object-fit: cover;
}

.user-info-right {
    width: 25.5vw;
    margin-left: 30rem;
}

.user-info-left span.profile-username {
    width: 20rem;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 600;
}

.user-info-left span.profile-description {
    width: 25rem;
    height: 10vh;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    user-select: none;
    margin-top: 0.5rem;
}

.description-scroll {
    overflow-y: scroll;
}

.last-comment-container {
    width: 60vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.last-comment-box {
    width: 54vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: scroll;
    height: 50vh;
    margin-top: 3rem;
    margin-left: 2rem;
}

.fav-estabs-container {
    width: 60vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.fav-estabs-box {
    width: 120vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile-title {
    font-size: 2.5rem;
    font-weight: 700;
}