@import url("../../assets/css/style.css");

.searchBar {
  background-color: var(--branco);
  border: var(--borda);
  border-radius: var(--arredondamento);
  display: flex;
  align-items: center;
  color: #000;
  margin: 0px 40px;
}

input {
  outline: none;
  border: 0;
  width: 30%;
  border: solid 1px rgb(158, 158, 158);
  border-radius: 10px;
  padding: 10px;
}

input::placeholder {
  color: var(--cinzaEscuro);
  font-size: 0.95331rem;
  font-weight: 500;
}
