@import url(../../assets/css/style.css);


.report-container {
    width: 13.5vw;
    height: 5.5rem;
    background-color: var(--branco);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: var(--borda);
    border-radius: var(--arredondamento);
    box-shadow: var(--sombra);  
}

.report-box {
    display: flex;
    gap: 2rem;
}

.report-box button {
    width: 13.5vw;
    height: 5.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--branco);
    border: var(--borda);
    border-radius: var(--arredondamento);
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

.report-box button:hover {
    transition: all 0.3s;
    background-color: var(--cinzaClaro);
}

.report-box a {
    width: 13.5vw;
    height: 5.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: black ;
}