@import url(../../assets/css/style.css);

.upvotes {
    width: 4.75rem;
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.upvotes img {
    width: 2.125rem;
    height: 2rem;
}