@import url(../../assets/css/style.css);

.filter-box {
    width: 3.5vw;
    height: 5vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: width 0.5s ease;
    background-color: var(--preto);
    border-radius: var(--arredondamento);
    cursor: pointer;
}

/* .filter-box:hover {
    width: 38.2vw;
} */

.filter {
    margin: 0 10px;
}


img.filter {
    width: 3vw;
    height: 3vh;
}