@import url(../../../assets/css/style.css);

.main-signup-costumer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 88vh;
  background-color: var(--cinza);
}

.container {
  width: 85%;
  display: flex;
  justify-content: center;
}

.form-costumer {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container-costumer {
  width: 60%;
  height: 100%;
  min-height: 577px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 12.15035px 0px rgba(0, 0, 0, 0.25);
}

.form-container-costumer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-container-costumer h1 {
  text-align: center;
  font-size: 3.4rem;
  margin: 20px 0px;
}

.img-login {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.imgContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redirect-option {
  margin: 10px;
}

.modal-body {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 0px 0px 12.15035px 0px rgba(0, 0, 0, 0.25);
}

.modal-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.modal-title {
  font-size: 3.4rem;
  font-weight: 700;
  text-align: center;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff0007;
  border-radius: 10px;
  border: 2px none #ffffff;
}

.button-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button-div div {
  width: fit-content;
}

.section-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section-item {
  width: 45%;
  display: flex;
  justify-content: center;
  justify-content: center;
}