@import url(../../assets/css/style.css);
.card-type-food {
  width: 100%;
  max-width: 400px;
  min-width: 350px;
  height: 120px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  border-radius: 9px;
  user-select: none;
  font-size: 1.2rem;
  color: #f6f6f6;
  text-align: center;
  text-shadow: 0px 4.101578235626221px 4.101578235626221px rgba(0, 0, 0, 0.67);
  font-family: Quicksand;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.5s;
}

@media (max-width: 850px) {
  .card-type-food {
    font-size: 0.9rem;
  }
}
