@import url(../../assets/css/style.css);

.comments-qtd-container {
    width: 4.75rem;
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.comments-qtd-container img {
    width: 2.125rem;
    height: 2rem;
    border: none;
}

.comments-qtd-container span {
    font-size: 1.7rem;
    font-weight: 700;
} 