@import url(../../assets/css/style.css);

.menu-item-container {
  width: 287px;
  height: 22rem;
  display: flex;
  justify-content: center;
  background-color: var(--branco);
  padding-block: 10px;
  border-radius: var(--arredondamento);
}

.menu-item-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-header span.product-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.menu-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-footer span {
  font-size: 1.8rem;
  font-weight: 600;
}

.menu-footer .operations {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.action-product-icon {
  cursor: pointer;
}

.delete-product-modal-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16rem;
}

.delete-product-modal {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-product-modal span {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}