@import url('../../assets/css/style.css');

.search-user-container {
    position: absolute;
    left: 13vw;
    top: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.search-user{
    width: 60%;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-user {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.search-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.user-detail-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.search-results {
    width: 5vw;
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 2px solid var(--primary);
}

.search-body {
    height: 65vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
    padding-right: 1rem;
}

.item-filter-user {
    width: 4.7vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    user-select: none;
    margin: 1rem;
}

.user-details-container {
    margin-top: 7rem;
}

.maps-box {
    margin-top: 2vh;
}