@import url(../../assets/css/style.css);

.card-rate {
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-rate span {
    /* background-color: blueviolet; */
    font-size: 2rem;
    font-weight: 700;
}   