@import url(../../assets/css/style.css);

.relevance-card-container {
    /* background-color: green; */
    width: 17vw;
    height: 15vh;
}

.relevance-card-box {
    background-color: var(--brancoGelo);
    border: var(--borda);
    border-radius: var(--arredondamento);
    box-shadow: var(--sombra);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.relevance-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.best-card-name {
    font-size: 1.5rem;
    font-weight: 700;
}